.item_1{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.item_1_price{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
.button_card_1{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}
.item_2{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.item_2_price{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}
.button_card_2{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}
.item_3{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.item_3_price{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}
.button_card_3{
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}
.item_4{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}
.item_4_price{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
}
.button_card_4{
    grid-row: 8 / 9;
    grid-column: 1 / 2;
}
.item_5{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}
.item_5_price{
    grid-row: 7 / 8;
    grid-column: 2 / 3;
}
.button_card_5{
    grid-row: 8 / 9;
    grid-column: 2 / 3;
}
.item_6{
    grid-row: 6 / 7;
    grid-column: 3 / 4;
}
.item_6_price{
    grid-row: 7 / 8;
    grid-column: 3 / 4;
}
.button_card_6{
    grid-row: 8 / 9;
    grid-column: 3 / 4;
}