html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
.nav ul{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.nav ul li{
  margin-top: 20px;
}
li {
  list-style-type: none;
 }
 a{
  text-decoration: none;
 }
 .nav li{
   width: 194px;
 }
 .nav a:visited, .nav a:link {
  color: black;
}
.nav a:hover {
  color: rgb(82, 82, 82);
}
.wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 234px 1086px;
  grid-template-rows: 66px 1fr 50px;
}
.header_left{
  background-color: #07569A;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.header_logo{
  display: flex;
  justify-content: space-around;
  background-color: #07569A;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
.header_card{
  background-color: #07569A;
  display: flex;
  padding-left: 806px;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
.nav{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: #E5E4E5;
}
.content{
  display: grid;
  grid-template-rows: 40px 60px 250px 50px 50px 250px 50px 40px;
  grid-template-columns: 250px 250px 250px 1fr;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.footer{
  border-top: 1px solid #D4D4D4;
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}
img[alt="card"]{
  margin-top: 15px;
  width: 40px;
  height: 40px;
}
img[alt="logo"]{
  padding-top: 10px;
}
.info_card{
  margin-top: 15px;
  margin-right: 120px;
  color: white;
}
.price_card{
  font-weight: 700;
  font-size: 20px;
}
.count_card{
  font-weight: 400;
  font-size: 14px;
}
.footer p {
  font-size: 16px;
}